<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foundation Models.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B7C0D392E347BB600FC0A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7C0D482E347BB800FC0A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B7C0D522E347BB800FC0A78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
